.overview-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.side-nav {
  width: 240px;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  color: #3c3c3c;
  font-weight: 500;
  font-size: 15px;
}

.nav-item.active {
  font-weight: 700;
}

.nav-item:hover {
  background-color: #f7f7f7;
}

.nav-item svg {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  color: #afafaf;
}

.nav-item.active svg {
  color: #58cc02;
}

.main-content {
  flex: 1;
  margin-left: 240px;
  background-color: #fff;
}

.logo {
  padding: 0 16px 20px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 32px;
}

.header-logo {
  width: 32px;
  height: 32px;
  color: #58cc02;
} 